@use "../color" as *;

.footerList{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: $bg-footer;
  z-index: 2;
  width: calc(100% - 220px);
  margin-left: 220px;
  button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
  }
  svg{
    width: 40px;
    height: 25px;
  }
}


@media(max-width: 600px){
  .footerList{
    width: 100%;
    margin-left: 0;
  }
}